USE [DERS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MEMBER_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[MEMBER]'))
ALTER TABLE [dbo].[MEMBER] DROP CONSTRAINT [FK_MEMBER_BRANCH]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CARGO_MEMBER1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CARGO]'))
ALTER TABLE [dbo].[CARGO] DROP CONSTRAINT [FK_CARGO_MEMBER1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CARGO_MEMBER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CARGO]'))
ALTER TABLE [dbo].[CARGO] DROP CONSTRAINT [FK_CARGO_MEMBER]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CARGO_BRANCH1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CARGO]'))
ALTER TABLE [dbo].[CARGO] DROP CONSTRAINT [FK_CARGO_BRANCH1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CARGO_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[CARGO]'))
ALTER TABLE [dbo].[CARGO] DROP CONSTRAINT [FK_CARGO_BRANCH]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH] DROP CONSTRAINT [FK_BRANCH_BRANCH]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_MEMBER_ISADMIN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MEMBER] DROP CONSTRAINT [DF_MEMBER_ISADMIN]
END
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 5/1/2019 01:15:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MEMBER]') AND type in (N'U'))
DROP TABLE [dbo].[MEMBER]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 5/1/2019 01:15:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CITY]') AND type in (N'U'))
DROP TABLE [dbo].[CITY]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 5/1/2019 01:15:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CARGO]') AND type in (N'U'))
DROP TABLE [dbo].[CARGO]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 5/1/2019 01:15:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRANCH]') AND type in (N'U'))
DROP TABLE [dbo].[BRANCH]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 5/1/2019 01:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CITYID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 5/1/2019 01:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[ID] [uniqueidentifier] NOT NULL,
	[SENDERBRANCHID] [int] NOT NULL,
	[SENDERMEMBERID] [int] NOT NULL,
	[DESTINATIONBRANCHID] [int] NOT NULL,
	[DELIVERMEMBERID] [int] NULL,
	[SENTDATE] [datetime] NOT NULL,
	[DELIVERDATE] [datetime] NULL,
	[ISDELIVERED] [bit] NOT NULL,
	[SENDERNAME] [nvarchar](50) NOT NULL,
	[SENDERSURNAME] [nvarchar](50) NOT NULL,
	[SENDERPHONE] [varchar](10) NOT NULL,
	[RECIEVERNAME] [nvarchar](50) NOT NULL,
	[RECIEVERSURNAME] [nvarchar](50) NOT NULL,
	[RECIEVERPHONE] [varchar](10) NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[WEIGHT] [decimal](10, 2) NOT NULL,
	[CONTENT] [nvarchar](500) NOT NULL,
	[ISSENDERPAYS] [bit] NOT NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 5/1/2019 01:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[ID] [tinyint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 5/1/2019 01:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCHID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[LOGINNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[ISADMIN] [bit] NOT NULL,
 CONSTRAINT [PK_MEMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BRANCH] ON 
GO
INSERT [dbo].[BRANCH] ([ID], [CITYID], [NAME]) VALUES (1, 1, N'Turgut Özal Şubesi')
GO
INSERT [dbo].[BRANCH] ([ID], [CITYID], [NAME]) VALUES (2, 1, N'ABTÜ Şubesi')
GO
INSERT [dbo].[BRANCH] ([ID], [CITYID], [NAME]) VALUES (3, 1, N'Reşatbey Şubesi')
GO
SET IDENTITY_INSERT [dbo].[BRANCH] OFF
GO
INSERT [dbo].[CARGO] ([ID], [SENDERBRANCHID], [SENDERMEMBERID], [DESTINATIONBRANCHID], [DELIVERMEMBERID], [SENTDATE], [DELIVERDATE], [ISDELIVERED], [SENDERNAME], [SENDERSURNAME], [SENDERPHONE], [RECIEVERNAME], [RECIEVERSURNAME], [RECIEVERPHONE], [PRICE], [WEIGHT], [CONTENT], [ISSENDERPAYS]) VALUES (N'a9936009-6077-4c8a-84e7-dbc2c78cbdc1', 1, 1, 2, NULL, CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, 0, N'Osman', N'Yilmaz', N'5433331010', N'Melike', N'Yılmaz', N'5322174545', CAST(50.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'Evrak', 1)
GO
INSERT [dbo].[CARGO] ([ID], [SENDERBRANCHID], [SENDERMEMBERID], [DESTINATIONBRANCHID], [DELIVERMEMBERID], [SENTDATE], [DELIVERDATE], [ISDELIVERED], [SENDERNAME], [SENDERSURNAME], [SENDERPHONE], [RECIEVERNAME], [RECIEVERSURNAME], [RECIEVERPHONE], [PRICE], [WEIGHT], [CONTENT], [ISSENDERPAYS]) VALUES (N'8eb6b563-1848-4ff0-a819-fd783b4ac8af', 1, 1, 2, NULL, CAST(N'2019-05-01T00:40:33.567' AS DateTime), NULL, 0, N'12', N'12', N'12', N'12', N'12', N'12', CAST(12.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)), N'12', 1)
GO
INSERT [dbo].[CITY] ([ID], [NAME]) VALUES (1, N'Adana')
GO
INSERT [dbo].[CITY] ([ID], [NAME]) VALUES (2, N'Adıyaman')
GO
INSERT [dbo].[CITY] ([ID], [NAME]) VALUES (3, N'Afyonkarahisar')
GO
SET IDENTITY_INSERT [dbo].[MEMBER] ON 
GO
INSERT [dbo].[MEMBER] ([ID], [BRANCHID], [NAME], [LOGINNAME], [PASSWORD], [ISADMIN]) VALUES (1, 1, N'Aleyna TEZERİŞİR', N'aleyna.tezerisir', N'1', 1)
GO
INSERT [dbo].[MEMBER] ([ID], [BRANCHID], [NAME], [LOGINNAME], [PASSWORD], [ISADMIN]) VALUES (2, 1, N'Serkan ÖZKAYA', N'serkan.ozkaya', N'1', 0)
GO
INSERT [dbo].[MEMBER] ([ID], [BRANCHID], [NAME], [LOGINNAME], [PASSWORD], [ISADMIN]) VALUES (3, 2, N'Kaan ÇIĞ', N'kaan.cig', N'1', 0)
GO
SET IDENTITY_INSERT [dbo].[MEMBER] OFF
GO
ALTER TABLE [dbo].[MEMBER] ADD  CONSTRAINT [DF_MEMBER_ISADMIN]  DEFAULT ((0)) FOR [ISADMIN]
GO
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_BRANCH] FOREIGN KEY([CITYID])
REFERENCES [dbo].[CITY] ([ID])
GO
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [FK_BRANCH_BRANCH]
GO
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_BRANCH] FOREIGN KEY([SENDERBRANCHID])
REFERENCES [dbo].[BRANCH] ([ID])
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [FK_CARGO_BRANCH]
GO
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_BRANCH1] FOREIGN KEY([DESTINATIONBRANCHID])
REFERENCES [dbo].[BRANCH] ([ID])
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [FK_CARGO_BRANCH1]
GO
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_MEMBER] FOREIGN KEY([SENDERMEMBERID])
REFERENCES [dbo].[MEMBER] ([ID])
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [FK_CARGO_MEMBER]
GO
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_MEMBER1] FOREIGN KEY([DELIVERMEMBERID])
REFERENCES [dbo].[MEMBER] ([ID])
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [FK_CARGO_MEMBER1]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_BRANCH] FOREIGN KEY([BRANCHID])
REFERENCES [dbo].[BRANCH] ([ID])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK_MEMBER_BRANCH]
GO
